.navbar.navbar-default {
    margin-bottom: 0;
}

/* Content Styling */
.content {
    background-image: url('./main-bg.jpg');
    min-height: 560px;
    padding-bottom: 40px;
}

.content .box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 30px;
    display: inline-block;
    margin-top: 38px;
    box-sizing: border-box;
    vertical-align: top;
}

.content .box.left {
    width: 648px;
    margin-right: 40px;
}

.content .box.left h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 30px;
    color: #4aaaa5;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 34px;
    margin-bottom: 20px;
}

/* About Styling */
.content.about .box.left img {
    float: left;
    padding: 10px 30px 10px 0;}

.content.about .box.left p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #4aaaa5;
    line-height: 2;
}

/* Portfolio Styling */
.content.portfolio .box.left a.portfolio-item {
    display: inline-block;
    margin: 0 0 20px 0;
    position: relative;
}

.content.portfolio .box.left a.portfolio-item .label{
    position: absolute;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 60px;
    width: 274px;
    left: 0;
    top: 135px;
    color: #ffffff;
    background-color: #4aaaa5;
    background-color: rgba(74, 170, 165, .85); /* It'll fall back to above if no browser support*/
}

.content.portfolio .box.left a.portfolio-item:nth-child(even) {
    padding: 0 34px 20px 0;
}

/* Contact Styling */
.content.contact .label {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content.contact input, .content.contact textarea {
    display: block;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content.contact textarea {
    height: 200px;
    max-width: 582px;
}

.content.contact .button {
    display: block;
    height: 40px;
    width: 115px;
    text-align: center;
    text-decoration: none;
    background-color: #4aaaa5;
    color: #ffffff;
    line-height: 40px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
}

/* Right side styling */
.content .box.right {
    width: 268px;
    height: 200px;
}

.content .box.right h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 22px;
    color: #4aaaa5;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 24px;
    margin-bottom: 22px;
}

.content .box.right a {
    margin-right: 6px;
}

.content .box.right a:last-child {
    margin-right: 0;
}

footer {
    min-height: 94px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
}

footer h6 {
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #cccccc;
    margin-top: 40px;
}